<style>
    .instagram{
        color: rgb(214, 41, 128);
    }
    .whatsapp{
        color: rgb(76, 220, 76);
    }
</style>


<footer>
    <div class="f-info">
        <div class="f-info-socials">
           <a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/" class="instagram"><i class="fa-brands fa-square-instagram"></i></a>
             <a href="https://web.whatsapp.com/" class="whatsapp"><i class="fa-brands fa-square-whatsapp"></i></a>
        </div>
        <div><i class="fa-regular fa-copyright"></i>WanderLust private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>